.box-layout {
    align-items: center;
    background: url('/images/sf.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out(white, .15);
    border-radius: 5px;
    color: $dark-grey;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
    @media (min-width: $desktop-breakpoint) {
        width: 40rem;
    }
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}

.box-layout__subtitle {
    margin-bottom: $xl-size;
}