.button {
    background: $blue;
    border: none;
    border-radius: 3px;
    display: inline-block;
    color: white;
    font-size: $font-size-large;
    line-height: 1;
    font-weight: 300;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--remove {
    @extend .button;
    background: $light-grey;
}